# list constants

In [1]:
 print([1, 24, 76])

[1, 24, 76]

In [2]:
print(['red', 'yellow', 
'blue'])

['red', 'yellow', 'blue']

In [3]:
print([])

[]

# we already use list

In [4]:
for i in [5, 4, 3, 2, 1] :
    print(i)
print('Blastoff!')

5
4
3
2
1
Blastoff!

# list and definate loops

In [5]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends :
    print('Happy New Year:', friend)
print('Done!')

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Done!

# looking inside list

In [7]:
friends = [ 'Joseph', 'Glenn', 'Sally' ]
print(friends[1])

Glenn

# lists are mutable

In [8]:
lotto = [2, 14, 26, 41, 63]
print(lotto)

[2, 14, 26, 41, 63]

In [10]:
lotto[2] = 28
print(lotto)

[2, 14, 28, 41, 63]

# how long a list

In [11]:
x = [ 1, 2, 'joe', 99]
print(len(x))

4

# range function

In [14]:
print(range(4))

range(0, 4)

In [15]:
friends = ['Joseph', 'Glenn', 'Sally']
print(len(friends))

3

In [16]:
 print(range(len(friends)))

range(0, 3)

# a table of two loops

In [17]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends :
    print('Happy New Year:', friend)
for i in range(len(friends)) :
    friend = friends[i]
    print('Happy New Year:', friend)

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally

# Concatenating Lists Using +

In [18]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

# Lists Can Be Sliced Using :

In [19]:
t = [9, 41, 12, 3, 74, 15]
t[1:3]

[41, 12]

In [20]:
t[:4]

[9, 41, 12, 3]

In [21]:
t[3:]

[3, 74, 15]

In [22]:
t[:]

[9, 41, 12, 3, 74, 15]

# list methods

In [23]:
x = list()
type(x)

list

In [24]:
dir(x)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# building a list from scratch

In [25]:
stuff = list()
stuff.append('book')
stuff.append(99)
print(stuff)

['book', 99]

In [27]:
stuff.append('Hamail')
print(stuff)

['book', 99, 'Hamail', 'Hamail']

# True/False

In [28]:
some = [1, 9, 21, 10, 16]
9 in some

True

In [29]:
20 in some

False

In [31]:
20 not in some

True

# list are in order

In [32]:
friends = [ 'Joseph', 'Glenn', 'Sally' ]
friends.sort()
print(friends)

['Glenn', 'Joseph', 'Sally']

In [33]:
print(friends[1])

Joseph

# built-in functions and lists

In [34]:
nums = [3, 41, 12, 9, 74, 15]
print(len(nums))

6

In [35]:
print(max(nums))

74

In [36]:
print(min(nums))

3

In [37]:
 print(sum(nums))

154

In [38]:
print(sum(nums)/len(nums))

25.666666666666668

In [39]:
total = 0
count = 0
while True :
    inp = input('Enter a number: ')
    if inp == 'done' : break
    value = float(inp)
    total = total + value 
    count = count + 1
average = total / count
print('Average:', average)

Enter a number: 23
Enter a number: 3
Enter a number: 453
Enter a number: 3
Enter a number: 32
Enter a number: done
Average: 102.8

# Best Friends: Strings and Lists

In [40]:
abc = 'With three words'
stuff = abc.split()
print(stuff)

['With', 'three', 'words']

In [41]:
print(len(stuff))

3

In [42]:
print(stuff[0])

With

In [43]:
for w in stuff :
    print(w)

With
three
words

In [44]:
line = 'A lot of                  spaces'
etc = line.split()
print(etc)

['A', 'lot', 'of', 'spaces']

In [46]:
line ='first;second;third'
thing = line.split()
print(thing)

['first;second;third']

In [47]:
 print(len(thing))

1

In [48]:
thing = line.split(';')
print(thing)

['first', 'second', 'third']

In [49]:
print(len(thing))

3

In [50]:
fhand = open('sir.txt')
for line in fhand:
    line = line.rstrip()
    if not line.startswith('I') : continue
    words = line.split()
    print(words[2])

Hamail
to